/* Variables */
:root {
    --primary-color:  #69a5bc;
  }
  
  body {
    background-color: rgb(222, 207, 207);
    color: rgb(0, 0, 0);
    font-family: monospace, sans-serif;
    font-size: 18px;
    margin: 0;
  }
   
main {
    padding: 10px;

    
}

.p1 {
    line-height: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
  .hero {
    background-image: url(../images/header.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    
  }


  .title {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px
  }
  
  .navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 248, 248);
  }
  
  .navbar .menu {
    display: flex;
  }
  
  .navbar .menu .link {
    margin: 0 10px;
    font-size: 12px;
  }
  
  /* Hover de los links */
  
  
  .navbar img.logo {
    width: 15%;
    max-width: 80px;
  }
  
  
  .aboutme {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
  }
  .skillset {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    
   
  }
  .myskills {
    max-width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    line-height: 25px;

  }
.container {
    width: 100%;
    background-color:#ddd;
}

.skills {
    text-align: right;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.html {

    background-color: #04aa6d;
    animation: fillhtml 2s forwards;
}

.css {

    background-color: #38207f;
    animation: fillcss 2s forwards;
}

.python {

    background-color: #ffd500;
    animation: fillpython 2s forwards;
}

.js {

    background-color: #fe00a1;
    animation: filljs 2s forwards;
}
@keyframes fillhtml {
    0%{width: 0;}
    100%{width: 90%;}
}
@keyframes fillcss {
    0%{width: 0;}
    100%{width: 70%;}
}

@keyframes fillpython {
    0%{width: 0;}
    100%{width: 50%;}
}

@keyframes filljs {
    0%{width: 0;}
    100%{width: 30%;}
}
  .contact {
    padding-top: 20px;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
  }
.contacts {
    line-height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

    
  .where {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .submit {
    padding-top: 20px;
    border-color: #38207f;


  }
  .footer {
    background: #ffc3c3;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  ul {
    display: flex;
    color: white;
    font-weight: bold;
    width:100%;
    justify-content: center;

  }
  
  .rrss_logo {
    width: 60px;
    align-content: space-between
    
  } 
  .navbar .menu {
    display: none;
  }
 
  @media screen and (min-width: 576px) {
    .navbar .menu{
      display: flex;
    }
  }
  .link:hover {
    transition: color 0.3s linear;
    font-weight: bolder;
    color: rgb(243, 60, 179);
  }
  

  